* {
  background-color: transparent;
}

/* CSS declarations go here */
html, body {
  margin: 0;
  padding: 0;
  /*background-color: gray;*/
  /*background-color: white;*/
}

.flash {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

.flasher{
  background: black;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  background-color: transparent;
}

/* TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP */

.top {
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
}

.top form {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: auto;
    box-shadow: none;
    z-index: 1;
}

.top form .input {
  top: 0;
  float: left;
  margin: 0;
  width: 50%;
  appearance: none;
  border-radius: none;
  height: 80px;
  padding: 10px;
  border: solid 1px black;
  transition: box-shadow 0.3s, border 0.3s;
  font-family: serif;
  font-size: 2.5em;
  /*move input from side to side*/
  -webkit-animation: diagonal-slide 25s infinite;
  animation: diagonal-slide 25s infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  position: relative;
  background-color: white;
}

@-webkit-keyframes diagonal-slide {
  0% {left: 0;top: 0px; }
  50% {left: 48%;top: 0px;}
  100% {left: 0;top: 0px;}
}

@keyframes diagonal-slide {
  0% {left: 0;top: 0px;}
  50% {left: 48%;top: 0px;}
  100% {left: 0;top: 0px;}
}

.top form .input:focus {
  outline: none;
}

/*MIDDLE MIDDLE MIDDLE MIDDLE MIDDLE MIDDLE MIDDLE MIDDLE MIDDLE MIDDLE*/
.middle {
  display:none;
  margin-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  width: 60%;
  overflow: hidden;
  color: black;
  font-size: 6em;
  text-align: justify;
  -moz-text-align-last: justify;
  text-align-last: justify;
  background-color: white;
  outline: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 1000;
}

.middle-animate {
    -ms-transition: all 5s;
    -webkit-transition: all 5s;
    -moz-transition: all 5s;
    transition: all 5s;
}

.middle p {
  -webkit-transform: skew(45deg) !important;
  -moz-transform: skew(45deg) !important;
  -o-transform: skew(45deg) !important;
  transform: skew(45deg) !important;
  margin-top: -10px;
  padding-left: 15px;
  padding-right: 15px;
}


/*PERSPECTIVE SHAPE 1 on swallow*/
.hidden {
    transform: scale(0) perspective(370px) rotateX(-45deg);
    transform-origin: bottom center;
  }

.swallow {
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 99;
    display: none;
}



/*BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM*/
.bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.ghosttrap {
  height: 6em;
  width: 15%;
  margin-left: 42.5%;
  background-color: white;
  text-align: left;
}

.ghosttrap a:link {color: black; text-decoration: none;}
.ghosttrap a:visited {color: black; text-decoration: none;}

.ghosttrap a:active {
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  -webkit-transform: skew(-45deg) !important;
  -moz-transform: skew(-45deg) !important;
  -o-transform: skew(-45deg) !important;
  transform: skew(-45deg) !important;
}

.ghosttrap a:hover {
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
  -webkit-transform: skew(45deg) !important;
  -moz-transform: skew(45deg) !important;
  -o-transform: skew(45deg) !important;
  transform: skew(45deg) !important;
}

.release {
  background-color: black;
  height: 100%;
}

.release a {
  display: block;
  width: 100;
  font-size: 2.5em;
  text-align: center;
  padding-top: 10%;
  letter-spacing: 2px;
}

.all-things {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  display: none;
  /*background: transparent;*/
}

/*RELEASE RELEASE RELEASE RELEASE RELEASE RELEASE RELEASE RELEASE RELEASE*/
.all-things .a-thing {
  width: 1px;
  height: 1px;
  top: 105%;
  left: 50%;
  position: absolute;
  margin: 2px auto;
  /*background: cyan;*/
  background: white;
  outline: 1px solid black;
  z-index: 5;
}

.release-one {
  transform-origin: bottom center;
  -webkit-animation: releaseThings 8s normal;
  animation: releaseOne 8s normal;
}

@keyframes releaseOne {
    0% {
        top:105%;
        height: 0px;
        width: 0px;
        transform: scale(0) perspective(370px) rotateX(0deg);
        perspective-origin: 50% 100%;

    }
    35% {
        transform: scale(5) perspective(150px) rotateX(-45deg);
    }
    100% {
        top: -150%;
        height: 400px;
        width: 600px;
        transform: scale(5) perspective(20px) rotateX(-45deg);
        perspective-origin: 50% 500%;
    }
}


/*COUNTER  COUNTER  COUNTER  COUNTER  COUNTER  COUNTER  COUNTER*/
.counter{
  background-color: white;
  border: 1px solid black;
  top: 80%;
  left: 30%;
  position: absolute;
  width:  100px;
  height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  max-width: 800px;
  max-height: 800px;
  min-width:  50px;
  min-height: 50px;
  z-index: 999;

  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 50px);}
    to {-webkit-transform: translate(0, -0px);    }
}

@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 50px);}
    to {-moz-transform: translate(0, -0px);}
}

.counter .counter-text {
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: center;
  font-size: 50px;
  padding-top: 20%;
  /*background-color: red;*/
}

