html, body {
  margin: 0;
  padding: 0;
  /*background-color: gray;*/
  background-color: white;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  /*background-color: red;*/
}

/* TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP  TOP */

.top {
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.top form {
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

.top form .input {
  top: 0;
  float: left;
  margin: 0;
  width: 50%;
  appearance: none;
  /*box-shadow: none;*/
  /*box-shadow: 0px 11px 30px white;*/
  border-radius: none;
  height: 50px;
  padding: 10px;
  border: solid 1px black;
  transition: box-shadow 0.3s, border 0.3s;
  font-family: serif;
  font-size: 1.5em;

}

.top form .submit {
  top: 0;
  float: left;
  margin: 0;
  width: 50%;
  appearance: none;
  /*box-shadow: none;*/
  /*box-shadow: 0px 11px 30px white;*/
  border-radius: none;
  height: 50px;
  padding: 10px;
  border: solid 1px black;
  transition: box-shadow 0.3s, border 0.3s;
  background-color: black;
  color: white;
  font-family: serif;
  font-size: 1.5em;
}



/*MIDDLE MIDDLE MIDDLE MIDDLE MIDDLE MIDDLE MIDDLE MIDDLE MIDDLE MIDDLE*/


.middle {
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    height: 65vh;
    width: 60%;
    overflow: hidden;
    /*background-color: white;*/
    color: black;
    font-size: 4em;
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
    background-color: yellow;
    /*-webkit-filter: blur(150px);
    -moz-filter: blur(150px);
    -o-filter: blur(150px);
    -ms-filter: blur(150px);
    filter: blur(150px);
    z-index: -9999;*/

}

.swallowTarget {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background-color: red;
}

/*does the transform*/
.hidden {
    transform: scale(0) perspective(370px) rotateX(-45deg);
    
    -ms-transition: all 5s;
    -webkit-transition: all 5s;
    -moz-transition: all 5s;
    transition: all 5s;  
  }

.swallow {
    position: absolute;
    top: 50px;
    left: 50%;
    z-index: 99;
}



/*BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM BOTTOM*/

.bottom {
  /*background-color: cyan;*/
  /*background-color: black;*/
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.ghosttrap {
  height: 6em;
  width: 15%;
  margin-left: 42.5%;
  background-color: white;
  text-align: center;
}

.ghosttrap a:link {color: black; text-decoration: none;}
.ghosttrap a:visited {color: black; text-decoration: none;}
.ghosttrap a:hover {color: white; text-decoration: none;}
.ghosttrap a:active {color: white; text-decoration: none;}

.send,
.release {
  background-color: black;
  border: 1px solid white;
  height: 50%;
}

.send a, 
.release a {
    display: block;
    width: 100;
    /*height: 100%;*/
    text-align: center;
    padding-top: 10%;
}



.counter{
  background-color: white;
  border: 1px solid black;
  width: 10%;
  height: 4em;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  text-align: center;
  margin-left: 35%;
  margin-top: 1em;
  position: absolute;
  /*font-size: 1em;*/
  line-height: 4em;
}


