$height: 860;

@-webkit-keyframes giene {
  @for $i from 1 through 20 {
    $percent: 0% + $i;
    $shrink: 1 + $i/5;
    #{$percent} {
      -webkit-transform: matrix3d(
        1, 0, 0, 0, 
        0, 1, 0, (1 - $shrink) / $height, 
        0, 0, 1, 0, 
        0, 0, 0, ($shrink / 5)
      );
    }  
  }
  
  99% {
    -webkit-transform: matrix3d(
      1, 0, 0, 0, 
      0, 1, 0, -20 / $height,
      0, 0, 1, 0, 
      0, 0, 0, 100
    );
    opacity:1;
  }
  
  100% {
    opacity:0;
  }
}

.giene {
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-name: giene;
  -webkit-transform-origin: 50% bottom 0;
  -webkit-perspective: 0;  
}

div.middle {
//   background:blue;
//   border-radius:4px;
//   width:120px;
  height: #{$height}px;
//   color:white;
//   font-family:Verdana;
}
